{% extends 'index.html.twig' %}

{% block title %}Créer votre compte{% endblock %}

{% block body %}
    <h1>Vous souhaitez poster vos annonces ? Créez votre compte!</h1>

    {{ form_start(registrationRecruteurForm) }}
        <button class="btn" type="submit" class="btn">Register</button>       
        {{ form_row(registrationRecruteurForm.recruteur, { 'label': '' }) }}     
    {{ form_end(registrationRecruteurForm) }}
{% endblock %}
