{% extends 'index.html.twig' %}

{% block title %}New Recruteur{% endblock %}

{% block body %}
    <h1>Create new Recruteur</h1>

    {{ include('recruteur/_form.html.twig') }}

    <a type="button" class="btn" href="{{ path('app_recruteur_index') }}">back to list</a>
{% endblock %}
