{% extends 'base.html.twig' %}

{% block title %}Edit Postulant{% endblock %}

{% block body %}
    <h1>Modifier le Postulant</h1>

    {{ include('postulant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_postulant_index') }}">Retour</a>

    {{ include('postulant/_delete_form.html.twig') }}
{% endblock %}
