{% extends 'base.html.twig' %}

{% block title %}New Postulant{% endblock %}

{% block body %}
    <h1>Create new Postulant</h1>

    {{ include('postulant/_form.html.twig') }}

    <a href="{{ path('app_postulant_index') }}">Retour</a>
{% endblock %}
